<%= form_for @book_author, :html => { :class => "form-horizontal book_author" } do |f| %>

  <% if @book_author.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book_author.errors.count, "error") %> prohibited this book_author from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book_author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :book_id, 'Book ID', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :book_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:book_id) %>
  </div>
  <div class="form-group">
    <%= f.label :author_id, 'Author ID', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
