<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:book_name) %>:</strong></dt>
  <dd><%= @book.book_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:"Publisher ID") %>:</strong></dt>
  <dd><%= @book.publisher_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:"Topic ID") %>:</strong></dt>
  <dd><%= @book.topic_id %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:"Public Name") %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>    </tr>
  </thead>
  <tbody>
    <% @publisher.each do |publisher| %>
      <tr>
        <td><%= publisher.id %></td>
        <td><%= publisher.name %></td>
        <td><%= publisher.location %></td>
        <td><%=l publisher.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:topic_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @topic.each do |topic| %>
      <tr>
        <td><%= topic.id %></td>
        <td><%= topic.topic_name %></td>
        <td><%=l topic.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- model_class = Author -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> of this book:</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:author_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.id %></td>
        <td><%= link_to author.author_name, author_path(author) %></td>
        <td><%=l author.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to List Books",
              books_path, :class => 'btn btn-primary'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_book_path(@book), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              book_path(@book),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>