<!DOCTYPE html>
<html>
<head>
  <title>G14</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Group 14 - SER 322 Final Project', root_path, class: "navbar-brand" %>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="span9">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      </div>
      <br><br><br><br>
      <div class="span3">
        <h1>Group 14-SER 322-FINAL PROJECT, BOOKS DATABASE</h1>
        <h3><a href="https://github.com/tonydng/g14">Group 14 on github.com</a></h3>
        <h3>ER and TABLE DIAGRAMS</h3>
        <!--[alt tag](https://s3-eu-west-1.amazonaws.com/gallery-prod-4f50/img/6ee2f2b471494d3ca2314545a6cae40b.png) -->
        <%= image_tag("group14.png", alt: "group 14") %>
        <hr>
        <p>Use Ruby on rails <a href="https://www.railstutorial.org/book">Rails Tutorial</a> for UI</p>
        <p>$ rails new g14</p>
        <p>$ cd g14</p>
        <h4>on github create a new repository, g14</h4>
        <pre>
          $ git init
          $ git add README.md
          $ git commit -m "first commit"
          $ git remote add origin https://github.com/tonydng/g14.git
          $ git push -u origin master

          $ heroku login ...
          $ heroku create g14
          
        </pre>
        <h4>Setup heroku for deployment</h4>
        <p>Update file config/environments/production.rb</p>
        <pre>
          ...
          # Force all access to the app over SSL, use Strict-Transport-Security, and use secure cookies.
            config.force_ssl = true
          ...
        </pre>
        <p>$ heroku login</p>
        <p>$ heroku create g14</p>
        <p>$ git push heroku master</p>
        <p>$ heroku run rake db:migrate</p>
        <p>$ heroku open</p>
        <p>https://g14.herokuapp.com/</p>
        <h3>Create Models</h3>
        <p>
          Primary keys - By default, Active Record will use an integer column named id as the table's primary key. When using Active Record Migrations to create your tables, this column will be automatically created.
        </p>
        <p>$ rails g model book book_title</p>
        <p>$ rake db:migrate</p>
        <p>$ rails g model author author_name</p>
        <p>$ rake db:migrate</p>
        <p>$ rails g model topic topic_name</p>
        <p>$ rake db:migrate</p>
        <h4>BooksAuthors and BooksTopics withoud id</h4>
        <p>$ rails g model books_authors book:references author:references</p>
        <p>update file: db/migrate/xxx_your_num_xxxx_create_books_authors.rb</p>
        <pre>
          class CreateBooksAuthors < ActiveRecord::Migration
            def change
              create_table :books_authors, id: false do |t|
                t.references :book, index: true, foreign_key: true
                t.references :author, index: true, foreign_key: true

                t.timestamps null: false
              end
            end
          end
        </pre>
        <p>$ rake db:migrate</p>
        <p>$ rails g model books_topics book:references topic:references</p>
        <p>update file: db/migrate/xxx_your_num_xxxx_create_books_topics.rb</p>
        <pre>
          class CreateBooksTopics < ActiveRecord::Migration
            def change
              create_table :books_topics, id: false do |t|
                t.references :book, index: true, foreign_key: true
                t.references :topic, index: true, foreign_key: true

                t.timestamps null: false
              end
            end
          end
        </pre>
        <p>$ rake db:migrate</p>
        <p>Update Gemfile</p>
        <pre>
          source 'https://rubygems.org'

          gem 'rails', '4.2.6'
          gem 'sass-rails', '~> 5.0'
          gem 'uglifier', '>= 1.3.0'
          gem 'coffee-rails', '~> 4.1.0'
          gem 'jquery-rails'
          gem 'turbolinks'
          gem 'jbuilder', '~> 2.0'
          gem 'sdoc', '~> 0.4.0', group: :doc

          gem "twitter-bootstrap-rails"
          # Use sqlite3 as the database for Active Record
          # development and test only
          group :development, :test do 
            gem 'sqlite3'
          end
          group :production do
            gem 'pg',             '~> 0.17.1'            
            gem 'rails_12factor', '~> 0.0.2'
          end

          group :development, :test do
            gem 'byebug'
          end

          group :development do
            gem 'web-console', '~> 2.0'
            gem 'spring'
          end
        </pre>
        <p>$ bundle update</p>
        <h4>Create Views and Controllers</h4>
        <p>$ rails g scaffold_controller book book_title</p>
        <p>$ rails g scaffold_controller author author_name</p>
        <p>$ rails g scaffold_controller book topic_name</p>
        <p>Update file config/routes.rb as following:</p>
        <pre>
          Rails.application.routes.draw do
            resources :books
            resources :authors
            resources :topics

            root 'books#index'
          end
        </pre>
        <p>Install bootstrap for a better UI</p>
        <p>$ rails g bootstrap:install static</p>
        <p>$ rails g bootstrap:themed books -f</p>
        <p>$ rails g bootstrap:themed authors -f</p>
        <p>$ rails g bootstrap:themed topics -f</p>
        <p>Modify app/controllers/books_controller.rb. So that when a new book created it redirect to root_path (home page)</p>
        <pre>
          # POST /books
          # POST /books.json
          def create
            @book = Book.new(book_params)

            respond_to do |format|
              if @book.save
                format.html { redirect_to root_path, notice: 'Book was successfully created.' }
                format.json { render :show, status: :created, location: @book }
              else
                format.html { render :new }
                format.json { render json: @book.errors, status: :unprocessable_entity }
              end
            end
          end
        </pre>
        <p>update file app/views/books/index.html.erb</p>
        <p>https://github.com/tonydng/g14/blob/master/app/views/books/index.html.erb</p>
        <p>Select all books from app/controllers/boots_controller.rb</p>
        <pre>
          class BooksController < ApplicationController
            .....

            # GET /books/new
            def index
              @book = Book.find_by_sql("SELECT * from books;")
            end

            ....
          end
        </pre>
      </div>
    </div>
  </div>
</body>
</html>
